apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-logs-config
  labels:
    app.kubernetes.io/name: alloy
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  config.river: |-
    logging {
      level = "info"
    }

    // -------------------------
    // Loki output
    // -------------------------
    loki.write "default" {
      endpoint {
        url = "https://loki-gateway.xx.xx/loki/api/v1/push"

        tls_config {
          insecure_skip_verify = true
        }
      }
    }

    // -------------------------
    // Kubernetes discovery
    // -------------------------
    discovery.kubernetes "pods" {
      role = "pod"
    }

    // -------------------------
    // Source: pod logs
    // -------------------------
    loki.source.kubernetes "pods" {
      targets    = discovery.kubernetes.pods.targets
      forward_to = [loki.process.pipeline.receiver]
    }

    // -------------------------
    // Processing pipeline (TEST MODE)
    // -------------------------
    loki.process "pipeline" {
  
    // Keep only cluster-autoscaler
    stage.match {
      selector = `{namespace="kube-system", __meta_kubernetes_pod_label_app_kubernetes_io_instance="cluster-autoscaler"}`
      action   = "keep"
    }
  
    // Drop other kube-system pods
    stage.match {
      selector = `{namespace="kube-system", __meta_kubernetes_pod_label_app_kubernetes_io_instance!="cluster-autoscaler"}`
      action   = "drop"
    }
  
    // Drop everything else
    stage.match {
      selector = `{namespace!="kube-system"}`
      action   = "drop"
    }
  
    // ---- parsing & labeling below ----
    stage.cri {}
  
    stage.json {
      expressions = {
        level     = "level"
        message   = "message"
        timestamp = "timestamp"
      }
    }
  
    stage.labels {
      values = {
        app       = "{{ .__meta_kubernetes_pod_label_app_kubernetes_io_instance }}"
        namespace = "{{ .__meta_kubernetes_namespace }}"
        pod       = "{{ .__meta_kubernetes_pod_name }}"
        container = "{{ .__meta_kubernetes_pod_container_name }}"
      }
    }
  
    stage.template {
      source   = "job"
      template = "{{ .namespace }}/{{ .app }}"
    }
  
    forward_to = [loki.write.default.receiver]
  }

